.form-radio-item{
  display: flex;
  flex-direction: column;
}

.radio-item{
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.confirmation-text{
  color: #0000CC;
  font-size: 14px;
  margin-top: 5px;
}

@media (max-width: 767.98px) {
 .confirmation-text{
    font-size: 12px;
  }
}
