.form-items{
  margin: 30px;
}
.form-item{
  margin: 20px 0;
}

.form-label{
  font-size: 18px;
}

.form-name-input{
  width: 300px;
}

.form-radio-items{
  display: flex;
}

.form-number-input{
  width: 250px;
}

.form-select-tab{
  width: 200px;
}

.form-btn{
  margin: 20px;
}
