.supplements-list{
  width: 90%;
  margin: 20px auto;
  border: 2px solid #888;
}

.supplement-item{
  border-bottom: 1px solid #AAA;
}

.supplement-item:last-child{
  border-bottom: none;
}

.empty-list{
  margin: 30px;
  padding: 10px;
  border: 2px dashed #9057FF;
  border-radius: 10px;
}

.btn-add {
  margin: 20px auto;
  text-align: center;
  width: 200px;
  color: #111;
  background-color: #fff;
  border: 2px solid #555;
  border-radius: 30px;
}

.supplement-btns{
  display: flex;
  margin-top: 10px;
}

.btn-edit{
  color: #111;
  flex-basis: 50%;
  font-size: 18px;
  height: 40px;
  border: 1px solid #AAA;
}

.btn-destroy{
  color: #FF3300;
  font-size: 18px;
  height: 40px;
  border: 1px solid #AAA;
  margin-left: 20px;
}

.acd-check{
  display: none;
}

.acd-label{
  height: 65px;
  background: #fff;
  color: black;
  display: block;
  margin-bottom: 1px;
  padding: 5px 10px;
  position: relative;
}

.acd-label:after{
  color: #4169E1;
  background: #FFF;
  box-sizing: border-box;
  display: block;
  position: absolute;
  content: '\f107';
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  height: 100%;
  width: 20%;
  right: 0;
  top: 0px;
  border-left: 1px solid #DDD;
}

.acd-content{
  background: #fff;
  border-top: 1px dashed #AAA;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.acd-check:checked + .acd-label:after{
  content: '\f106';
}

.acd-check:checked + .acd-label + .acd-content{
  height: 160px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}

