.welcome-content{
  margin: 50px 0;
  padding: 20px 0;
  border: 1px solid #1E90FF;
  border-radius: 5px;
}

.welcome-title{
  font-size: 20px;
}

.welcome-sentence,
.empty-sentence,{
  font-size: 18px;
  margin-top: 16px;
}

.supplements-empty{
  margin: 50px 0;
  padding: 20px;
  border: 3px dashed #1E90FF;
  border-radius: 10px;
}

.supplements-list{
  width: 100%;
  margin: 30px auto;
  border: 1px solid #555;
}

.supplement-item{
  border-bottom: 1px solid #CCC;
}

.supplement-item:last-child{
  border-bottom: none;
}

.supplement-name{
  font-size: 25px;
}

.supplement-info{
  font-size: 17.5px;
}

.supplement-btns{
  display: flex;
  margin-top: 10px;
}

.btn-supplement-edit{
  color: #111;
  flex-basis: 384px;
  font-size: 18px;
  border: 1px solid #AAA;
}

.btn-supplement-destroy{
  color: #FF3300;
  font-size: 18px;
  border: 1px solid #AAA;
  margin-left: 20px;
}

.btn-supplement-destroy:hover{
  color: #FF3300;
}

.acd-check{
  display: none;
}

.acd-label{
  display: block;
  padding: 10px;
  margin-bottom: 0;
  position: relative;
}

.acd-label:after{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '\f107';
  color: #1E90FF;
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
  font-weight: 900;
  height: 100%;
  width: 85px;
  right: 0;
  top: 0px;
  border-left: 1px solid #DDD;
}

.acd-content{
  background: #fff;
  border-top: 1px dashed #AAA;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.acd-check:checked + .acd-label:after{
  content: '\f106';
}

.acd-check:checked + .acd-label + .acd-content{
  height: 150px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}

.btn-supplement-add {
  color: #FFF;
  background: #1E90FF;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  width: 384px;
  margin: 20px auto;
  border-radius: 5px;
}

.btn-supplement-add:hover {
  color: #FFF;
}

@media (max-width: 767.98px) {
  .welcome-title{
    font-size: 18px;
  }

  .welcome-sentence{
    font-size: 16px;
  }

  .supplement-name{
    font-size: 20px;
  }

  .supplement-info{
    font-size: 14px;
  }

  .btn-supplement-edit{
    flex-basis: 70%;
    font-size: 16px;
  }

  .btn-supplement-destroy{
    flex-basis: 30%;
    font-size: 16px;
    margin-left: 10px;
  }

  .acd-label:after{
    width: 70px;
  }

  .btn-supplement-add{
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
    width: 100%;
  }
}
