.supplements-list{
  width: 80%;
  margin: 20px auto;
  border-width: 3px;
  border-style: solid;
}

.supplement-item{
  border-bottom: 4px solid;
}

.empty-list{
  margin: 30px;
  padding: 10px;
  border: 2px dashed #9057FF;
  border-radius: 10px;
}

.btn-add {
  margin: 20px auto;
  text-align: center;
  width: 200px;
  color: #111;
  background-color: #fff;
  border: 3px solid #111111;
  border-radius: 30px;
}

.btn-add:hover{
  color: #111;
  background-color: #75A9FF
}

.btn-edit{
  height: 40px;
  margin: 10px;
  color: #111;
  border: 1px solid #111;
  background-color: #fff;
}

.btn-edit:hover{
  color: #111;
  background-color: #75A9FF;
}

.btn-destroy{
  height: 40px;
  margin: 10px;
  color: #111;
  border: 1px solid #111;
  background-color: #fff;
}

.btn-destroy:hover{
  color: #111;
  background-color: #FF5192;
}

.acd-check{
  display: none;
}

.acd-label{
  background: #fff;
  color: #black;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
}
.acd-content{
  background: #fff;
  border-top: 1px dashed;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
  height: 140px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}
