@import "bootstrap";
@import "supplements/*";
@import "home";


body{
  background: #F8F8FF;
}

header{
  background: #8EB8FF;
}

.nav-items{
  text-align:right;
  vertical-align: center;
}

.nav-item{
  font-size: 20px;
  color: #111;
  margin: 15px;
}
