@import "bootstrap";
@import "supplements/*";
@import "home";
@import "devise";
@import "shared";
@import "form";
@import "layout";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:ital,wght@0,800;1,600&display=swap');
