@import "bootstrap";
@import "supplements/*";
@import "home";


body{
  background: #F8F8FF;
}

header{
  background: #8EB8FF;
  height: 60px;
  padding-left: 10px;
}

.nav-container{
  display: flex;
  justify-content: space-between;
}

.app-name{
  padding: 5px;
}

.nav-items{
  display: flex;
}

.nav-item{
  font-size: 16px;
  color: #111;
  margin: 15px;
}
