.link-items{
  margin: 50px 0;
}

.link-item{
  margin-top: 10px;
}

.danger-items{
  margin: 80px 0;
  border: 1px dotted #BBB;
  border-radius: 5px;
}

.danger-title{
  font-size: 14px;
  color: #FFF;
  background-color: #FF1493;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
}

.destroy-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.destroy-desc{
  flex-basis: 60%;
}

.destroy-btn{
  margin: 20px 0;
  color: red;
  background-color: #FFF;
  border: 1px solid #888;
}
