.form-item{
  margin-top: 25px;
}

.form-name-input,
.form-number-input,
.form-select-tab,
.form-email-input,
.form-password-input{
  width: 100%;
}

.btn-position{
  display: flex;
  justify-content: center;
}

.form-btn{
  margin-top: 40px;
  width: 384px;
}

.create-btn,
.login-btn{
  color: #FFF;
  background: #1E90FF;
  border: 1px solid #1d81e2;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.create-btn:hover,
.login-btn:hover{
  color: #FFF;
}

.update-btn,
.send-mail-btn{
  background: #fabd17;
  border: 1px solid #efb61b;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.cansel-btn{
  font-weight: 600;
  letter-spacing: 2px;
  border: 1px solid #BBB;
}

@media (max-width: 767.98px) {
  .form-name-input,
  .form-number-input,
  .form-select-tab,
  .form-email-input,
  .form-password-input{
    width: 100%;
  }

  .form-btn{
    width: 100%;
  }

  .create-btn,
  .login-btn{
    font-size: 18px;
  }

  .update-btn,
  .send-mail-btn{
    font-size: 18px;
  }
}
