.form-item{
  margin-top: 25px;
}

.form-name-input,
.form-number-input,
.form-select-tab,
.form-email-input,
.form-password-input{
  width: 400px;
}

.btn-position-center{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-btn{
  margin-top: 30px;
  border: 1px solid #BBB;
  width: 200px;
}

.create-btn{
  color: #FFF;
  background-color: #1E90FF;
}

.update-btn{
  background-color: #FFD700;
}

.login-btn, .cansel-btn{
  background-color: #FFF;
}

.send-mail-btn{
  color: #111;
  background-color: #FFF;
}

@media (max-width: 767.98px) {
  .form-name-input,
  .form-number-input,
  .form-select-tab,
  .form-email-input,
  .form-password-input{
    width: 100%;
  }

  .form-btn{
    margin-top: 30px;
    width: 60%;
  }

  .create-btn{
    color: #FFF;
    background-color: #1E90FF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .update-btn{
    background-color: #FFD700;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }
}
