.top-title{
  font-size: 50px;
}

.top-description{
  margin: 20px;
  font-size: 15px;
}

.user-create-btn{
  border: 1px solid #BBB;
  background: #00FFFF;
  margin: 20px;
  border-radius: 5px;
}

@media (max-width: 767.98px) {
  .top-title{
    color: #FFF;
    background-color: #1E90FF;
    text-align: center;
    font-size: 22px;
    padding: 30px 0;
  }

  .sub-title{
    font-size: 12px;
    text-align: center;
  }

  .introduction-items{
    margin-top: 5px;
  }

  .subject{
    font-size: 22px;
    font-family: serif;
    text-align: center;
  }

  .top-description{
    margin: 20px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
  }

  .example-items{
    background: #FFF;
  }

  .image-description{
    text-align: center;
    padding-top: 20px;
  }

  .image-container{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .image{
    border: 1px solid #AAA;
    margin: 10px auto;
  }
}
