.top-title{
  color: #FFF;
  background: #1E90FF;
  font-size: 32px;
  padding: 30px 0;
}

.sub-title{
  font-size: 16px;
}

.home-items{
  margin-top: 5px;
}

.home-headline{
  font-size: 24px;
  font-family: serif;
}

.home-description{
  margin: 20px 20px 30px;
  padding-bottom: 15px;
  text-align: center;
}

.home-description-sentence{
  font-size:  18px;
  margin-bottom: 10px;
}

.example-items{
  background: #FFF;
  padding: 5px 0 30px;
  margin: 0 25%;
  border-top: 1px solid #DDD;
}

.image-description{
  padding-top: 20px;
}

.image-container{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.image{
  border: 1px solid #AAA;
  margin: 10px auto;
}

.user-create-btn{
  display: flex;
  justify-content: center;
  background: #00FFFF;
  margin: 50px 30%;
  border: 1px solid #BBB;
  border-radius: 5px;
}

@media (max-width: 767.98px) {
  .top-title{
    font-size: 22px;
  }

  .sub-title{
    font-size: 12px;
  }

  .home-description{
    margin: 20px 10px 30px;
  }

  .home-description-sentence{
    font-size:  16px;
    margin-bottom: 15px;
  }

  .example-items{
    margin: 0;
  }

  .user-create-btn{
    margin: 20px 10%;
  }
}
