.title{
  margin: 20px
}

.description{
  margin: 20px;
  font-size: 15px;
}

.btn-user-create{
  border: 2px solid;
  background: #fff;
  margin: 20px;
}

.btn-user-create:hover{
  background: #EEEEEE;
}

.btn-to-supplements{
  border: 2px solid;
  background: #fff;
  margin: 20px;
}

