.top-title{
  color: #1E90FF;
  font-size: 40px;
  font-family: 'Karla', sans-serif;
  margin: 45px 0;
}

.home-description-sentence{
  font-size: 20px;
}

.user-create-btn{
  display: flex;
  justify-content: center;
  background: #d819c7;
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  margin: 45px 0;
}

.user-create-btn:hover{
  color: #FFF;
  text-decoration: none;
}

.home-icon-items{
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  color: #1E90EF;
}

@media (max-width: 767.98px) {
  .home-description-sentence{
    font-size: 16px;
  }

  .user-create-btn{
    font-size: 16px;
  }
}
