body{
  box-sizing: border-box;
}

.header{
  height: 68px;
  display: flex;
  align-items: center;
}

ul#error_explanation{
  list-style-position: inside;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name{
  color: #1E90FF;
  font-size: 32px;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  @media (max-width: 767.98px) {
    font-size: 22px;
  }
  i {
    margin-right: .125em;
  }
  &:hover{
    color: #1E90FF;
    text-decoration: none;
  }
}

.main-items {
  padding-top: 20px;
}

.error-container{
  margin-bottom: 16px;
  padding: 16px;
  color: #B22222;
  background: #fff0F5;
  border: 1px solid #FF1493;
  border-radius: 4px;
  *:last-child {
    margin-bottom: 0;
  }
}

.footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-lows{
  display: flex;
  justify-content: center;
  &:not(:first-child) {
    margin-top: 1.5em;
  }
}

.footer-low{
  padding: 0 16px;
}

.footer-text {
  font-size: 13px;
}

.footer-text,
.copyright-item{
  text-decoration: none;
}

.doc-headline{
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  &:not(:first-child) {
    margin-top: 1.75em;
  }
}

.doc-desc,
.doc-list{
  margin-top: 1em;
  line-height: 1.8;
}

.back-link{
  margin-top: 24px;
}

.nav-item{
  font-size: 14px;
  &:not(:first-child) {
    margin-left: 1em;
  }
}

.nav-items {
  position: relative;
  input {
    position: fixed;
    opacity: 0;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
}

.nav-items__trigger {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  @media (max-width: 767.98px) {
    font-size: 22px;
  }
}


.nav-items__inner {
  display: none;
  input:checked + & {
    display: block;
  }
}

.nav-items__items {
  position: absolute;
  background-color: #fff;
  right: 0;
  width: 200px;
  border: solid 1px #ddd;
  border-radius: 4px;
  z-index: 2;
}

.nav-items__item {
  &:not(:first-child) {
    border-top: solid 1px #ddd;
  }
}

.nav-items__item-link {
  display: flex;
  height: 44px;
  padding: 0 12px;
  align-items: center;
  text-decoration: none;
  &:hover {
    background-color: #f8f8f8;
  }
}

.nav-items__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 767.98px) {
  .header{
    height: 48px;
  }

  .error-container{
    margin: 16px 0;
    padding: 8px;
  }

  .error-word,
  .footer-text,
  .copyright-item{
    font-size: 12px;
  }
}
