body{
  position: relative;
  background: #F8F8FF;
  height: 100%;
  min-height: 100vh;
}

header{
  background: #A4C6FF;
  padding: 0 10px;
}

footer{
  position: absolute;
  margin-top: 140px;
  bottom: 0;
  background: #75A9FF;
  width: 100%;
  height: 25px;
}

ul#error_explanation{
  list-style-position: inside;
}

.main-items{
  padding: 0 10px;
}

.error-word{
  font-size: 12px;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name{
  font-size: 40px;
  flex-basis: 400px;
}

.nav-items{
  display: flex;
  flex-basis: 250px;
}

.nav-item{
  font-size: 20px;
  margin: 0 auto;
}

.error-container{
  margin: 15px 0;
  padding: 10px;
  color: #B22222;
  background-color: #FFF0F5;
  border: 1px solid #FF1493;
}

@media (max-width: 767.98px) {
  .app-name{
    flex-basis: 100px;
    font-size: 16px;
  }

  .nav-items{
    display: flex;
    flex-basis: 170px;
  }

  .nav-item{
    font-size: 12px;
    margin: 0 auto;
  }
}
