body{
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
  box-sizing: border-box;
  background: #FFF;
}

header{
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

nav{
  flex-basis: 100%;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul#error_explanation{
  list-style-position: inside;
}

.main-items{
  margin: 0 10px;
}

.error-word{
  font-size: 12px;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name{
  color: #1E90FF;
  font-size: 40px;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
}

.app-name:hover{
  color: #1E90FF;
  text-decoration: none;
}

.nav-item{
  margin-left: 10px;
  white-space: nowrap;
}

.error-container{
  margin: 15px 0;
  padding: 10px;
  color: #B22222;
  background: #FFF0F5;
  border: 1px solid #FF1493;
}

.footer-items{
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.footer-item{
  margin: 0 10px;
}

.copyright-item{
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.doc-headline{
  margin-top: 10px;
}

.doc-desc{
  font-size: 12px;
}

.doc-list{
  font-size: 12px;
  padding:  10px 20px;
}

.back-link{
  margin-top: 20px;
}

@media (min-width: 768px) {
  body{
    width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  header{
    height: 40px;
  }

  .app-name{
    font-size: 22px;
  }

  .nav-items{
    display: flex;
  }

  .nav-item{
    font-size: 11px;
    margin-left: 7.5px;
  }

  .error-container{
    margin: 10px 0;
    padding: 5px;
  }
}
