body{
  position: relative;
  min-height: 100vh;
  padding-bottom: 64px;
  box-sizing: border-box;
  background: #FFF;
}

header{
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0 16px;
}

nav{
  flex-basis: 100%;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul#error_explanation{
  list-style-position: inside;
}

.main-items{
  margin: 0 16px;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name{
  color: #1E90FF;
  font-size: 40px;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
}

.app-name:hover{
  color: #1E90FF;
  text-decoration: none;
}

.nav-item{
  margin-left: 16px;
  white-space: nowrap;
  text-decoration: none;
}

.error-container{
  margin: 16px 0;
  padding: 16px;
  color: #B22222;
  background: #FFF0F5;
  border: 1px solid #FF1493;
}

.footer-lows{
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.footer-low{
  margin: 0 16px;
}

.footer-text,
.copyright-item{
  text-decoration: none;
}

.doc-headline{
  margin-top: 16px;
}

.doc-desc,
.doc-list{
  margin-top: 8px;
  font-size: 12px;
}

.back-link{
  margin-top: 24px;
}

@media (min-width: 768px) {
  body{
    width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  header{
    height: 48px;
  }

  .main-items{
    margin-bottom: 32px;
  }

  .app-name{
    font-size: 24px;
  }

  .nav-items{
    display: flex;
  }

  .nav-item{
    font-size: 12px;
    margin-left: 8px;
  }

  .error-container{
    margin: 16px 0;
    padding: 8px;
  }

  .error-word,
  .footer-text,
  .copyright-item{
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  header{
    height: 40px;
  }

  .app-name{
    font-size: 20px;
  }

  .nav-item{
    font-size: 8px;
    margin-left: 8px;
  }
}
