body{
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
  box-sizing: border-box;
  background: #F8F8FF;
}

header{
  background: #FFF;
  padding: 0 10px;
  border-bottom: 1px solid #AAA;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul#error_explanation{
  list-style-position: inside;
}

.main-items{
  padding: 0 10px;
}

.error-word{
  font-size: 12px;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name-container{
  font-size: 40px;
  flex-basis: 400px;
}

.app-name{
  color: #0000AA;
  text-decoration: none;
}

.app-name:hover {
  color: #0000AA;
  text-decoration: none;
}

.nav-items{
  display: flex;
  flex-basis: 400px;
}

.nav-item{
  font-size: 20px;
  margin: 0 auto;
}

.error-container{
  margin: 15px 0;
  padding: 10px;
  color: #B22222;
  background: #FFF0F5;
  border: 1px solid #FF1493;
}

.footer-items{
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.footer-item{
  margin: 0 10px;
}

.doc-headline{
  margin-top: 10px
}

.doc-desc{
  font-size: 12px;
}

.doc-list{
  font-size: 12px;
  padding:  10px 20px;
}

.back-link{
  margin-top: 20px
}

@media (max-width: 767.98px) {
  .app-name-container{
    flex-basis: 100px;
    font-size: 16px;
  }

  .nav-items{
    flex-basis: 170px;
  }

  .nav-item{
    font-size: 12px;
  }

  .error-container{
    margin: 10px 0;
    padding: 5px;
  }
}
