.page-title{
  color: #FFF;
  font-size: 20px;
  background: #1E90FF;
  line-height: 40px;
}

.icon-position-center,
.text-position-center{
  text-align: center;
}

@media (min-width: 768px) {
  .page-title{
    padding-left: 8px;
    margin: 0 16px;
  }
}

@media (max-width: 767.98px) {
  .page-title{
    font-size: 16px;
    line-height: 32px;
    padding-left: 16px;
  }
}
