= t('devise.shared.words.hello')
br
= t('devise.mailer.reset_password_instructions.instruction')
br
= link_to t('devise.passwords.edit.change_my_password'), edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary'
br
= t('devise.mailer.reset_password_instructions.instruction_2')
br
= t('devise.mailer.reset_password_instructions.instruction_3')

